<!-- Top Nav -->
<div style="background-image: linear-gradient(90deg, #74b9ff, #81ecec)">
  <div class="container mx-auto">
    <div class="row justify-content-between align-items-center">
      <div class="mr-auto m-2">
        <a href="https://www.linkedin.com/in/pedro-henrique-lustosa-e-silva-29b827144/" rel="noopener" target="_blank"
          data-toggle="tooltip" data-placement="bottom" title="LinkedIN"><i class="fab fa-linkedin linkedin"></i></a>
        <a href="https://github.com/Pedrolustosa" data-toggle="tooltip" data-placement="bottom" title="GitHub"
          rel="noopener" target="_blank"><i class="fab fa-github github"></i></a>
        <a href="mailto:pedroeternalss@gmail.com" data-toggle="tooltip" data-placement="bottom" title="Email"
          rel="noopener" target="_blank"><i class="fas fa-envelope-open-text email"></i></a>
      </div>
      <div class="ml-auto m-2">
        <a routerLink="/home" rel="noopener"><img src="../assets/image/flag/brazil.png" class="flag" alt="Brazil"></a>
        <a routerLink="/home" rel="noopener"><img src="../assets/image/flag/united-states-of-america.png" class="flag"
            alt="EUA"></a>
      </div>
    </div>
  </div>
</div>
<!-- Top Nav -->

<!-- Header Navbar -->
<header class="fixed-navbar">
  <nav id="navbar-example" class="navbar navbar-expand-lg navbar-light bg-light bg-gradient">
    <button class="navbar-toggler m-1" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <div class="container">
        <ul class="navbar-nav" role="tablist">
          <li class="nav-item p-2">
            <a class="btncustom" routerLink="/" rel="noopener">Home</a>
          </li>
          <li class="nav-item p-2">
            <a class="btncustom" routerLink="/alunos" rel="noopener">Alunos</a>
          </li>
          <li class="nav-item p-2">
            <a class="btncustom" routerLink="/professores" rel="noopener">Professores</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
</header>
<!-- Header Navbar -->
